
<div ng-controller="myCtrl">
    <div>
         <!-- 关键字查询 --> 
        <div class="ui icon right floated input" style="width:176px;">
                <input type="text" ng-model="controller.keyword" ng-keydown="controller.search($event)" placeholder="请输入关键字...">
                <i class="search icon"></i>
            </div>
        <!-- 增加信息 -->
        <button class="ui icon positive button" style="height:38px; margin-bottom:10px;" ui-sref="two.modalShow({department:'modal'})" ng-click="controller.add()" >
            <i class="plus icon"></i>
        </button>
        
        
        <!-- 表格信息 -->
        <table class="ui celled table" style="width:1200px;">
            <thead>
                <tr>
                    <th class="center aligned" style="width:200px;">部门编号</th>
                    <th class="center aligned" style="width:200px;">部门名称</th>
                    <th class="center aligned" style="width:200px;">负责人</th>
                    <th class="center aligned" style="width:200px;">员工数</th>
                    <th class="center aligned" style="width:200px;"></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="x in controller.list track by x.Num">
                    <td class="center aligned">{{x.Num}}</td>
                    <td class="center aligned">{{x.Name}}</td>
                    <td class="center aligned">{{x.Person}}</td>
                    <td class="center aligned">{{x.All}}</td>
                    <td class="center aligned">
                        <div class="ui buttons">
                            <button class="ui positive button" ng-click="controller.modify($index)"  ui-sref="two.modalShow({department:'modal'})">修改</button>
                            <div class="or"></div>
                            <button class="ui button" ng-click="controller.delete($index)">删除</button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table> 
    </div> 
    <ui-view></ui-view>
</div>
