
*{
    margin: 0;
    padding: 0;
}
.flex-container{
    display:-webkit-box;  
    -webkit-box-orient:vertical;
    height: 100%;
}
.flex-item-center{
    -webkit-box-flex:1;   
    -webkit-flex:1;  
    flex:1;  
    display:-webkit-box;  
}
/* 内容 */
.flex-item-right{
    width:1660px;
    padding: 100px 0px;
    overflow: auto;
}
/* 导航栏 */
nav {
    height: 50px;
    color: white;
    background: linear-gradient(to left,rgb(49, 46, 100),rgb(23,17,53));
}
nav img{
    position: fixed;
    width:100px;
    height:50px; 
    left: 80px;
}
nav .top{
    position: absolute;
    top: 10px;
    left:1760px;
    margin-left: 10px;
}
/* 侧边栏 */
.flex-item-left{
    overflow:auto;   
    -webkit-overflow-scrolling:touch;
}
aside{
    width: 270px; 
    color: rgb(184, 179, 179);  
    background: linear-gradient(to left,rgb(25, 21, 73),rgb(23,17,53));
}
aside::-webkit-scrollbar{
    width: 6px;
}
aside::-webkit-scrollbar-thumb{
    background: rgb(106, 111, 124);
}
aside .div{
    width: 100%;
    background: rgb(21,14,55);
    padding: 10px 20px;
}
aside .div:hover{
    background: rgb(41, 39, 70);
    color: yellow;
}
aside .div .angle{
    float: right;
}
aside ul{
    width: 100%;
    /* height: 0px; */
    /* overflow: hidden; */
    background: rgb(77, 76, 121);
    border-bottom: 1px solid rgb(59, 50, 104);
}
aside ul li{
    height: 30px;
    line-height: 30px;
    position: relative;
    text-align: center;
    border-bottom: 1px solid rgb(90, 89, 94);
}
aside ul li:hover{
    color: rgb(160, 179, 79);
    background: rgb(118, 123, 177);
}
/* 页尾 */
footer{
    height:30px; 
    color: white;
    bottom: 0px;
    background: linear-gradient(to top,rgb(44, 39, 85),rgb(26, 20, 56));
    text-align: center;
    line-height: 30px;
}
/* 三角形 */
.triangle-left {
    border-top: 15px solid transparent;
    border-right: 16px solid white;
    border-bottom: 14px solid transparent;
    position: absolute;
    left: 254px;
}


